@use '@renderer/assets/variables.scss';

.button {
  padding: 0;
}

.barraWrapper {
  position: relative;
  width: 100%;
  background-color: variables.$cinza-escuro-3;
  height: 26px;
  cursor: pointer;

  .barra {
    position: absolute;
    height: 100%;
    max-width: 100%;
    transition: 0.5s width ease-in-out;
  }

  .texto {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
  }

  &:hover {
    .texto {
      color: variables.$amarelo-primario;
    }
  }
}

.vidaFull {
  background-color: variables.$verde-primario;
}

.vidaAboveHalf {
  background-color: variables.$laranja-primario;
}

.vidaAlmostEmpty {
  background-color: variables.$vermelho-claro;
}

.manaFull {
  background-color: variables.$azul-primario;
}

.manaAboveHalf {
  background-color: variables.$azul-claro-1;
}

.manaAlmostEmpty {
  background-color: variables.$azul-claro-2;
}
