@use '@renderer/assets/variables.scss';

.fotoPersonagem {
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .opacidade {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2e2e2e77;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .detalhes {
    position: absolute;
    bottom: 10%;
    transform: translateY(10%);
    left: 5px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .detalhe {
      display: flex;
      align-items: center;
      width: 200px;
      padding: 2px;

      img {
        width: 20px !important;
        height: 20px !important;
      }

      p {
        margin-left: 5px;
        font-size: 13.3px;
      }
    }
  }
}
