@use '@renderer/assets/variables.scss';

button:hover {
  .nome {
    color: variables.$amarelo-primario;
  }
}

.card:last-child {
  border: none;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid variables.$borda-cinza-escuro;
  padding: 3.5px;
  height: fit-content;
  width: 100%;
}

.nome {
  font-size: 12px;
  background-color: transparent;
  font-weight: 500;
}

.nome:hover {
  color: variables.$vermelho-claro;
}

.rolagem {
  display: flex;
  width: fit-content;
  align-items: center;

  .treinamento {
    font-size: 12px;
    color: variables.$cinza-claro-1;
    font-weight: 400;
  }
}
