@use '@renderer/assets/variables.scss';

button:hover {
  .nome {
    color: variables.$amarelo-primario;
  }
}

.titulo {
  background-color: transparent;
  p {
    text-align: left;
  }

  .nome {
    font-size: 13.5px;
  }
}

.rolagem {
  display: flex;
  width: fit-content;
  align-items: center;

  .treinamento {
    font-size: 12px;
    font-weight: 400;
  }
}
