@use '@renderer/assets/variables.scss';

.atributo:last-child {
  border: none;
}

.atributo {
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-right: 1px solid variables.$borda-cinza-escuro;

  .titulo {
    height: 20px;
    margin-bottom: 5px;

    .nome {
      background-color: transparent;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }

    .nome:hover {
      color: variables.$vermelho-claro;
    }
  }
}
