@use '@renderer/assets/variables.scss';

.right {
  top: 50%;
  transform: translateY(-50%);
  right: 30px;

  &[data-entering] {
    animation: modalSlideIn 300ms;
  }
  &[data-exiting] {
    animation: modalSlideIn 300ms reverse ease-in;
  }
}

@keyframes modalSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: fixed;
  border-radius: 10px;
  transition: all 150ms;

  .dialog {
    background-color: variables.$cinza-escuro-2;
    overflow: hidden;
    border-radius: 10px;

    .modalHeader {
      background-color: variables.$vermelho-primario;
      display: flex;
      justify-content: space-between;
      height: 30px;
      position: sticky;
      top: 0;
      width: 100%;
      align-items: center;
      padding: 0 10px;
      border-radius: 10px 10px 0 0;

      h2 {
        font-size: 20px;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .main {
      display: flex;

      .sidebar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 300px;
        max-height: 450px;
        overflow-y: auto !important;
      }

      .modalConteudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 450px;
        padding: 15px;
        gap: 15px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}

.botaoClose {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.overlay {
  inset: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  inset: 0;
  background-color: #000000a4;
}

.footer {
  height: 60px;
  background-color: variables.$cinza-escuro-1;
  position: sticky;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
