@use '@renderer/assets/variables.scss';

button {
  border: none;
}

.cinzaEscuro01 {
  background-color: variables.$cinza-escuro-1;
  transition: 0.2s background-color ease;
}

.cinzaEscuro02 {
  background-color: variables.$cinza-escuro-2;
  transition: 0.2s background-color ease;
}

.cinzaEscuro03 {
  background-color: variables.$cinza-escuro-3;
  transition: 0.2s background-color ease;
}

.transparente {
  background-color: transparent;
}

.vermelhoEscuro,
.cinzaEscuro02:hover,
.botaoQuadrado30px:hover,
.cinzaEscuro03:hover {
  background-color: variables.$vermelho-escuro;
  transition: 0.2s background-color ease;
}

.vermelhoEscuro:hover {
  background-color: variables.$vermelho-escuro;
  transition: 0.2s background-color ease;
}

.ativo {
  background-color: variables.$vermelho-escuro !important;
}

.verdePrimario {
  background-color: variables.$verde-primario;
}

.rollBtn {
  display: grid;
  align-items: center;
  justify-content: center;

  img {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 18px;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    margin-left: 0 !important;
    color: #fff;
  }
}

.botaoTimido {
  background-color: transparent;
  font-size: 13px;

  &:hover {
    color: variables.$amarelo-primario;
  }
}

.rollBtn:hover {
  color: variables.$amarelo-primario;
  transform: scale(1.3);

  img {
    animation: roll 1.5s infinite linear;
  }

  p {
    color: variables.$amarelo-primario;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.botaoAcompanhanteHeader {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;

  img {
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px;
  }

  p {
    font-size: 13.3px;
  }

  &:hover {
    p {
      color: variables.$amarelo-primario;
    }
  }
}

.botaoAcaoPequeno {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 16px;
  }
}

.botaoExpansivel {
  min-width: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 15px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.botaoMenuPrincipal {
  width: 200px;
  height: 40px;
  border-radius: 5px;

  p {
    font-size: 16px;
  }
}
