@use '@renderer/assets/variables.scss';

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

label {
  color: variables.$special-text-color;
  font-size: 13px;
}

input {
  border-radius: 5px;
}

input[type='number'] {
  background-color: variables.$secondary-color;
  width: 3rem;
  height: 2rem;
}
