$background-color: rgb(23, 23, 23);
$primary-color: rgb(30, 30, 30);
$secondary-color: rgb(46, 46, 46);
$red: rgb(182, 41, 46);
$green: rgb(17, 153, 78);
$blue: rgb(20, 75, 216);
$special-text-color: rgb(217, 217, 217);
$highlight-color: rgb(251, 218, 121);
