$background-color: rgb(23, 23, 23);
$primary-color: rgb(30, 30, 30);
$secondary-color: rgb(50, 50, 50);
$red: rgb(182, 41, 46);
$secondary-red: rgb(133, 28, 31);
$tertiary-red: rgb(206, 51, 56);
$green: rgb(17, 153, 78);
$blue: rgb(20, 75, 216);
$text-color: #d9d9d9;
$highlight-color: rgb(251, 218, 121);
