@use '@renderer/assets/variables.scss';

.card {
  background-color: variables.$background-color;
  border: 1px solid variables.$secondary-color;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  height: fit-content;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titulo {
      display: flex;
      align-items: center;

      .valor {
        margin-right: 15px;
        margin-left: 5px;
        font-size: 18px;
        width: 16px;
        text-align: center;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 12px;
      }

      .nome {
        cursor: pointer;
        h3 {
          font-size: 17px;
        }
        h4 {
          font-size: 14px;
          margin-top: 2px;
          color: variables.$text-color;
        }
      }
      .nome:hover {
        h3 {
          color: variables.$highlight-color;
        }
      }
    }
  }

  .conteudo {
    border-radius: 5px;
    margin-top: 10px;
  }
}
