@use '@renderer/assets/variables.scss';

.select {
  background-color: variables.$secondary-color;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  height: 2rem;

  option {
    background-color: variables.$secondary-color;
  }
}

.label {
  color: variables.$special-text-color;
  font-size: 13px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
