@use '@renderer/assets/variables.scss';

.middle {
  align-items: center !important;
}

.start {
  align-items: start !important;
}

.formController {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: variables.$cinza-claro-1;
  }
}

.grupo {
  display: flex;
}

.input {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid variables.$cinza-escuro-3;
  border-bottom: 1px solid variables.$cinza-escuro-3;
  border-left: none;
  border-right: none;
  width: 3rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: variables.$cinza-claro-1;

  text-align: center;
  font-variant-numeric: tabular-nums;

  &:focus {
    z-index: 1;
    outline: 2px solid variables.$azul-primario;
    outline-offset: -1px;
  }
}

.diminuir,
.aumentar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0;
  outline: 0;
  padding: 0;
  border: 1px solid variables.$cinza-escuro-3;
  border-radius: 0.375rem;
  background-color: variables.$cinza-escuro-2;
  background-clip: padding-box;
  color: variables.$cinza-claro-1;
  user-select: none;
}

.diminuir {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.aumentar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
