@use '@renderer/assets/variables.scss';

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  .legend {
    border-bottom: 1px solid variables.$cinza-escuro-3;
    width: 100%;
    font-size: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: end;
  }
}
