@use '@renderer/assets/variables.scss';

.input {
  border-radius: 5px;
  font-size: 13px;
}

.input[type='number'] {
  background-color: variables.$secondary-color;
  width: 3rem;
  height: 2rem;
}

.input[type='text'] {
  background-color: variables.$secondary-color;
  width: 150px;
  height: 2rem;
}
