@use '@renderer/assets/variables.scss';

.cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;

  .borrao {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 501;
  }

  .modal {
    position: fixed;
    width: 700px;
    height: 500px;
    z-index: 502;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$primary-color;

    .modalHeader {
      display: flex;
      justify-content: space-between;
      height: 8%;
      background-color: variables.$red;
      align-items: center;
      padding: 0 10px;
      border-radius: 5px 5px 0 0;

      h2 {
        font-size: 20px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .modalConteudo {
      height: 92%;
      width: 100%;
      padding: 10px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
