@use '@renderer/assets/variables.scss';

.formController {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 13px;
  }
}

.select {
  height: 2rem;
  width: 185px;
  border-radius: 5px;
  padding: 0.286rem 0.371rem;
  border: 1px solid variables.$cinza-escuro-3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$cinza-escuro-1;

  &[data-focus-visible] {
    outline: 2px solid variables.$vermelho-primario;
    outline-offset: -1px;
  }

  &[data-pressed] {
    background-color: variables.$cinza-escuro-1;
  }

  span[aria-hidden] {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    padding: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 0.5rem;
  }

  .selectValue {
    font-size: 13px;
    text-transform: capitalize;
  }
}

.popover[data-trigger='Select'] {
  .listBox {
    display: grid;
    gap: 5px;
    flex-direction: column;
    width: 185px;
    max-height: inherit;
    min-height: unset;
    border: none;
    background-color: variables.$cinza-escuro-1;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid variables.$cinza-escuro-3;
    overflow: auto;
  }
}

.option {
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  display: flex;
  padding-left: 15px;
  align-items: center;
  font-size: 13px;
  text-transform: capitalize;

  &[data-focus-visible] {
    outline: none;
  }

  &[data-focused],
  &[data-pressed] {
    background: variables.$vermelho-primario;
  }
}
