@use '@renderer/assets/variables.scss';

.botaoMenuPrincipal {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: variables.$vermelho-escuro;
  transition: 0.2s background-color ease;

  font-size: 16px;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo {
  display: flex;
  gap: 10px;
}

.mainMenu {
  background: url('./background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 100px;

    h1 {
      font-size: 64px;
      text-align: center;
    }

    .footer {
      .botoes {
        display: flex;
        gap: 24px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
        width: fit-content;
      }

      .copyright {
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
      }
    }
  }
}

.personagens {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;

  .personagem {
    background-color: transparent;

    .nome {
      font-size: 16px;
    }

    &:hover {
      .nome {
        color: variables.$vermelho-claro;
      }
    }
  }

  .selecionado {
    .nome {
      color: variables.$vermelho-claro;
    }
  }
}

.secao {
  margin-top: 10px;
  .titulo {
    font-size: 18px;
    color: variables.$vermelho-claro;
    border-bottom: 2px solid variables.$vermelho-claro;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

.selecaoPersonagem {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid variables.$cinza-escuro-3;
    padding-bottom: 5px;

    h1 {
      font-size: 20px;
    }
  }

  .tags {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    flex-wrap: wrap;

    p {
      height: 20px;
      width: fit-content;
      display: flex;
      background-color: variables.$azul-primario;
      border-radius: 5px;
      padding: 10px 8px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .description {
    p {
      font-size: 14px;
    }
    .title {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  h2 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .itens {
    display: flex;
    flex-direction: column;

    p {
      text-transform: capitalize;
    }
  }
}

.siderbarItens {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;

  .item {
    display: flex;
    gap: 5px;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.etapasFormulario {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  width: 100%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
