@use '@renderer/assets/variables.scss';

.formController {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;

  .label {
    font-size: 13px;
    line-height: 1.25rem;
    font-weight: 500;
  }

  .switch {
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.571rem;
    font-size: 1.143rem;
    color: white;
    forced-color-adjust: none;
    height: 2rem;

    .indicador {
      width: 2.25rem;
      height: 1.393rem;

      border: 2px solid variables.$cinza-escuro-3;
      background: variables.$cinza-escuro-1;
      border-radius: 1.143rem;
      transition: all 200ms;

      &:before {
        width: 0.857rem;
        height: 0.857rem;
        display: block;
        content: '';
        margin: 0.143rem;
        background: white;
        border-radius: 16px;
        transition: all 200ms;
      }
    }

    &[data-selected] {
      .indicador {
        border-color: variables.$vermelho-primario;
        background: variables.$vermelho-primario;

        &:before {
          background: white;
          transform: translateX(100%);
        }
      }

      &[data-pressed] {
        .indicador {
          border-color: variables.$vermelho-claro;
          background: variables.$vermelho-claro;
        }
      }
    }

    &[data-focus-visible] .indicador {
      outline: 2px solid variables.$vermelho-primario;
      outline-offset: 2px;
    }
  }
}
