@use '@renderer/assets/variables.scss';

.sidebar {
  width: 280px;
  height: fit-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .personagemInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .personagemNome {
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      margin-top: 10px;

      &:hover {
        p {
          color: variables.$vermelho-claro;
        }
      }

      .personagemNivel {
        cursor: pointer;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        img {
          width: 18px;
          height: 18px;
        }

        p {
          font-size: 18px;
        }

        &:hover {
          p {
            color: variables.$amarelo-primario;
          }
        }
      }
    }
    .recursos {
      width: 100%;
      gap: 10px;
      display: flex;
      margin-top: 10px;
      flex-direction: column;

      .recurso {
        width: 100%;
        display: flex;
        padding: 0 10px;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
