@use '@renderer/assets/variables.scss';

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: variables.$cinza-escuro-2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;

  .personagemInfo {
    width: 100%;

    .personagemChamada {
      display: flex;
      justify-content: space-between;
      height: 40px;
      background-color: variables.$vermelho-escuro;
      align-items: center;
      padding: 0 5px 0 8px;

      .personagemNome {
        cursor: pointer;
        font-size: 14px;
        width: 80%;

        &:hover {
          p {
            color: variables.$amarelo-primario;
          }
        }
      }

      .personagemNivel {
        cursor: pointer;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        img {
          width: 18px;
          height: 18px;
        }

        p {
          font-size: 18px;
        }

        &:hover {
          p {
            color: variables.$amarelo-primario;
          }
        }
      }
    }
    .recursos {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
