@use '@renderer/assets/variables.scss';

.botaoTimido {
  background-color: transparent;
  font-size: 13px;
}

.botaoTimido:hover {
  color: variables.$amarelo-primario;
}

.ficha {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;

  .conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    overflow-y: auto;
    background-color: variables.$cinza-escuro-1;

    .navButtons {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 450px;
      border-radius: 0 0 20px 20px;
      z-index: 5;
      position: sticky;
      background-color: variables.$cinza-escuro-2;
      top: 0;

      button:first-child {
        border-radius: 0 0 0 20px;
      }

      button:last-child {
        border-radius: 0 0 20px 0;
      }
    }
  }
}

.lojaHeader {
  h3 {
    margin-bottom: 10px;
  }
}

.filtros {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.secao{
  margin-top: 15px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .partePericias {
    display: flex;
    gap: 15px;

    .especificas, .gerais {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
