@use '../variables.scss';

.card:last-child {
  border-bottom: none;
}

.card {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid variables.$borda-cinza-escuro;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titulo {
      display: flex;
      align-items: center;
      background-color: transparent;
      text-align: start;
      .valor {
        margin-right: 15px;
        margin-left: 5px;
        font-size: 18px;
        width: 16px;
        text-align: center;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 12px;
      }

      .nome {
        background-color: transparent;
        text-align: start;
        cursor: pointer;
        h3 {
          font-size: 13px;
          font-weight: 500;
          text-transform: capitalize;
        }
        h4 {
          font-size: 12px;
          text-transform: capitalize;
          color: variables.$cinza-claro-1;
        }
      }
      .nome:hover {
        h3 {
          color: variables.$amarelo-primario;
        }
      }
    }
  }

  .conteudo {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
    transition:
      margin-top 300ms ease-out,
      opacity 300ms ease-out;
  }

  &[data-expanded] .conteudo {
    margin-top: 10px;
    opacity: 1;
  }
}

.itemTags {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;

  p {
    height: 20px;
    width: fit-content;
    display: flex;
    background-color: variables.$azul-primario;
    border-radius: 5px;
    padding: 10px 8px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
  }
}

.descricao {
  font-size: 14px;
  white-space: pre-line;
}

.subEfeitos {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  .subEfeito {
    p {
      font-size: 14px;
    }
  }
}

.preRequisitos {
  margin-top: 10px;
  font-size: 15px;
}

.destaque {
  font-size: 13px;
  color: variables.$vermelho-claro !important;
  text-transform: uppercase;
  font-weight: bold;
}

.aprimoramentos {
  p {
    font-size: 14px;
  }
}

.interacoes {
  display: flex;
  align-items: center;
  gap: 10px;

  .categoria {
    font-size: 15px;
    color: variables.$cinza-claro-1;
  }
}

.modificadores {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .modificador {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}
