@use '../variables.scss';

.itemTags {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;

  p {
    height: 20px;
    width: fit-content;
    display: flex;
    background-color: variables.$azul-primario;
    border-radius: 5px;
    padding: 10px 8px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

.descricao {
  font-size: 15px;
}

.subEfeitos {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .subEfeito {
    p {
      font-size: 15px;
    }
  }
}

.preRequisitos {
  margin-top: 10px;
  font-size: 15px;
}

.destaque {
  font-size: 15px;
  color: variables.$vermelho-claro !important;
}

.aprimoramentos {
  p {
    font-size: 14px;
  }
}

.interacoes {
  display: flex;
  align-items: center;
  gap: 10px;

  .categoria {
    font-size: 14px;
  }
}

.modificador {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .nomeEfeito {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .valor {
    background-color: variables.$cinza-escuro-3;
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}
