@use '../variables.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select {
  background-color: variables.$cinza-escuro-3;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.option {
  background-color: variables.$cinza-escuro-3;
}

.submitButton {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$verde-primario;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.submitButton:hover {
  cursor: pointer;
}

.alert {
  font-family: 'poppins';
  font-size: 12px;
  color: #ffba00;
  margin-top: 5px;
  text-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: inherit;

  .fieldset {
    padding: 10px;
    border: 1px solid variables.$cinza-escuro-3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .legendFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;

      p,
      button {
        z-index: 1;
      }
    }

    .legendFlex::before {
      content: '';
      position: absolute;
      top: 48%;
      left: 0;
      right: 0;
      height: 0.5px;
      background-color: variables.$cinza-escuro-3;
      transform: translateY(-50%);
      z-index: 0;
    }

    .rowFields {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      align-items: end;
    }

    .formArrayElement {
      background-color: variables.$cinza-escuro-2;
      padding: 10px;
      gap: 23px;
      border-radius: 5px;
      position: relative;

      .removeButton {
        position: absolute;
        right: -5px;
        top: -5px;
      }
    }
  }
}
